body {
  font-family: "Benton Sans", "Helvetica Neue", helvetica, arial, sans-serif;
  margin: 2em;
}

.container {
  display: flex;
  flex-direction: column;
}

.list2 {
  display: flex;
  border: 1px solid silver;
  padding: 5px;
}

.box {
  border: 3px solid #666;
  background-color: #ddd;
  border-radius: .5em;
   height: 10px;
  padding: 10px;
  min-width: 100px;
  cursor: move;
}

.box2 {
  border: 1px solid #666;
  height: 10px;
  padding: 10px;
  min-width: 100px;
  cursor: move;
  color: green
}

.box.over {
  border: 3px dotted #666;
}

[draggable] {
  user-select: none;
}

.list1 {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  gap: 5px;
}
